*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

ul > li{
    list-style-type: none;
}

body{
    text-align: start;
    min-width: 1350px;
    max-width: auto;
}

header *{
    border: solid tomato 2px;
}

header{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 120px;
padding: .5rem ;
display: flex;
justify-content: space-between;
align-items: center;
background-color: white;
font-size: 1.3rem;
color: #575e63;
}

.flex{
    display: flex;
}

section.links > ul{
    align-items: center;
    justify-content: space-between;
}

.right{
    position: fixed;
    right: 0;
    margin-right: 200px;
    gap: 3rem;
}

.left{
    position: fixed;
    left: 0;
    margin-left: 100px;
    gap: 3rem;
}

button{
    padding: 0 1rem;
    border: none;
    border-color: none;
    font-size: 1.3rem;

}

button.white-button{
    background-color: transparent;
    color: #575e63;
}

button.blue-button{
    background-color: #0061ff;
    color: white;
}

main{
    margin-top: 120px;
}

main section.jumbotron{
    background-color: #b4d0e7;
    height: 1105px;
    padding: 5rem 10rem;
}

main section.jumbotron h1{
    font-size: 4rem
}

main section.jumbotron p{
    font-size: 1.3rem;
    color: #575e63;
}

div.jumbo-content{
    padding: 1.5rem;
}

.column{
    padding: 2rem;
}

div.column-small{
    width: 40%;
}

div.cloumn-big{
    width: 60%
}

.fa-arrow-down{
    font-size: 3.5rem;
    margin-top: 300px;
}


main *{
    border: solid tomato 2px;
}




