*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

ul > li{
    list-style-type: none;
}

body{
    text-align: start;
    min-width: 1350px;
    height: auto;
}

header{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 120px;
padding: .5rem ;
display: flex;
justify-content: space-between;
align-items: center;
background-color: white;
font-size: 1.3rem;
color: #575e63;
}

.flex{
    display: flex;
}

.flex-row{
    flex-direction: row;

}

section.links > ul{
    align-items: center;
    justify-content: space-between;
}

.right{
    position: fixed;
    right: 0;
    margin-right: 200px;
    gap: 3rem;
}

.left{
    position: fixed;
    left: 0;
    margin-left: 100px;
    gap: 3rem;
}

button{
    padding: 0 1rem;
    border: none;
    border-color: none;
    font-size: 1.3rem;
    cursor: pointer;

}

button.white-button{
    background-color: transparent;
    color: #575e63;
}

button.blue-button{
    background-color: #0061ff;
    color: white;
}

main{
    margin-top: 120px;
}

main section.jumbotron{
    background-color: #b4d0e7;
    padding: 5rem 10rem;
}

main section.jumbotron h1{
    font-size: 4rem;
}

main section.jumbotron p{
    font-size: 1.3rem;
    color: #575e63;
}

div.jumbo-content{
    padding: 1.5rem;
}

.column{
    padding: 2rem;
}

div.column-small{
    width: 40%;
}

div.cloumn-big{
    width: 60%
}

.fa-arrow-down{
    font-size: 3.5rem;
    margin-top: 300px;
}

/* main *{
    border: solid tomato 2px;
} */

main h2{
    font-size: 3rem;
    padding-bottom: 3rem ;
}

section.business-plan{
    margin-top: 180px;
}

section.central{
    padding: 0 15rem;
}

/* input.input{
    padding: 3rem;
} */

article.plan{
    border: solid grey 1px;
    width: 400px;
    height: 1000px;
    margin-top: 5rem;
}

div.type{
    border: solid rgb(200, 200, 200) 1px;
    justify-content: center;
    padding: 1rem;
}

section.product{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h3{
    font-size: 1.5rem;

}

div.plan-info{
    flex-direction: column;
    padding: 1.5rem;
}

div.plan-info *{
    margin-top: 1rem;
}

p.price{
    font-weight: bold;
}


div.features p,h4{
    padding: 1rem 2rem;
}

p.grey{
    color: #575e63;
}

.trial{
    margin: 1rem 0.5rem;
    padding: 1rem 1.7rem
}

hr.short{
    width: 60px;
    border: solid 0.5px grey;
    margin: 3rem 2rem
}

article.team{
    border: solid grey 1px;
    width: 100%;
    height: 100%;
    margin-top: 5rem;
}

section.partner{
    display: flex;
    margin: 8rem auto;
    justify-content: center;
}

section.faster{
    margin-top: 1rem;
}

section.small-box{
    max-width: 300px;
    margin: 1.5rem;

}



section.small-box *{
    padding: 1rem;
    border: solid tomato 1px;
}












