*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

ul > li{
    list-style-type: none;
}

header *{
    border: solid tomato 2px;
}

header{
position: fixed;
top: 0;
left: 0;
width: 100%;
padding: 1rem;
display: flex;
justify-content: space-between;
align-items: center;
}

section.links > ul{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.right{
    position: fixed;
    right: 0;
    margin-right: 200px;
    gap: 3rem;
}

.left{
    position: fixed;
    left: 0;
    margin-left: 100px;
    gap: 3rem;
}

.buttons > button{
    padding: 0 1rem;
}




